<!--snippet: plantilla básica carrusel fija html v1.0 08/06/2020) -->
<!--programado:  Gabriel Fernández B. -->
<!--Email: gabriel@zeitzit.online -->
<!--@zeitzit soluciones reales-->
<!--MIT License-->





ul, li {
    
    padding:0;
    margin:0;
    list-style:none inside;
    }

    ul.carrusel {
        position:relative;
    }
    ul.carrusel li {
    
    opacity:0;
    transition:opacity .5s;
    position: absolute;
    left:0px;
    margin:50px;
    padding:50px;
    border:2px solid red;
    background:#fff;
    }
    ul.carrusel li:first-child {
        opacity: 1;
    }
    ul.carrusel li:target {
        opacity:1;
    }

    nav {
    position:relative;
    top:200px;
    left:50px;
    }
   

    body, html {
        padding:0;
        margin:0;
        width:100vw;
        height:100vh;
        overflow:hidden;
        }

        ul, li {
        
        box-sizing: border-box;
        }

        ul.carrusel {
        padding: 30px;
        }

        ul.carrusel li {

        
        margin: 0;
        padding: 0;
        border: 0;
        background-color: gray;
        opacity: 0;
        transition: opacity .5s;
        padding-top: 1vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: calc( 1.5rem + 1vw );
        text-align: center;
        }

        #slide1 {
             
        background-color: #ffffff;
        color: #fff;
        }

        #slide2 {
        background-color: #65bce8;
        color: #00324b;
        }

        #slide3 {
        background-color: #f90;
        color: #00324b;

        }

        #slide4 {
        background-color: #00324b;
        color: #65bce8;
        }

        #slide5 {
        background-color: #65bce8;
        color: #00324b;
        }

        nav {
        width: 100vw;
        position: absolute;
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;
        background: #f1f2f3;
        }

        nav ul {
               
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        }

        nav ul li {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        box-sizing: border:box;
        }

        nav a {
        font-size: calc( 1.2rem + 1vw );
        text-decoration: none;
        font-weight: bold;
        color: #00324b;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.8;
        flex-grow: 1;
        text-align: center;
        border-top: 5px solid #41026b;
        border-right: 1px solid #41026b;
        flex-wrap: wrap;
        position: relative;
        }

        nav li:last-child a {
        border-right: 0;
        }
        nav a:hover {
        background-color: #04334b;
        color: #fff;
        border-top-color: #ad65e8;
        }
        nav a:active {
        border-top-color: rgb(132, 0, 255);
        background: rgb(235, 76, 49);
        color: #27004b;
        }


        p {
            font-size: calc(0.5rem + .7vw) ;
            text-decoration: none;
            font-weight: bold;
            color: #04334b;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        
            }
